Tech News Automation Email.json
{
  "name": "Tech News Automation Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        96
      ],
      "id": "21b70bd5-3fb3-4ba8-9537-25e3275cc449",
      "name": "Schedule Trigger",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        512,
        96
      ],
      "id": "6dc803ef-e57f-43fa-a032-182ef35e07e0",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=What is the summary (Use 100 words)?  {{ $json['content:encodedSnippet'] }}",
        "options": {
          "systemMessage": "You are a tech researcher. Your task is to summarise tech related news into a paragraph of executive summary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        736,
        96
      ],
      "id": "c6d19dad-d2ea-4617-82cb-02fed9cec75c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f88e52f8-5644-4b18-b63b-2854c4c135d7",
              "name": "Summary",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "d8d69671-80b7-4ab8-925b-6015841848a6",
              "name": "creator",
              "value": "={{ $('Limit').item.json.creator }}",
              "type": "string"
            },
            {
              "id": "45cd3aa0-26d4-48a9-b282-ffd67da70993",
              "name": "title",
              "value": "={{ $('Limit').item.json.title }}",
              "type": "string"
            },
            {
              "id": "d722b6b4-0b1f-440e-8c69-08093c78a010",
              "name": "pubDate",
              "value": "={{ $('Limit').item.json.pubDate }}",
              "type": "string"
            },
            {
              "id": "41871682-15aa-4034-b51a-84c300415eb1",
              "name": "link",
              "value": "={{ $('Limit').item.json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        96
      ],
      "id": "82b741f7-3d5d-4eac-9e46-ab8dc5b19922",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1312,
        96
      ],
      "id": "dbd8f342-8820-4dac-978e-65b24944e665",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "cameraoreo@gmail.com",
        "subject": "Daily Railway News",
        "message": "={{ \n  ($json.data ?? []).map(d =>` \n<div style =\"margin-bottom:16px\">\n<h2>${d.title}</h2>\n<h3>${d.creator}<br/>${d.pubDate}</h3>\n<h4 style = \"\">${d.Summary ?? \"\"}</h4>\n<p>${d.link}</p>\n <br/> </div> `) .join(\"\")}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1536,
        0
      ],
      "id": "ea06fe9f-5925-48ec-842e-694c8f5c94ac",
      "name": "Send a message",
      "webhookId": "11030db0-69bd-46ed-a580-935816eed3dd",
      "credentials": {
        "gmailOAuth2": {
          "id": "1FtEYtehl50Vp8oE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://www.theverge.com/rss/full.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        288,
        272
      ],
      "id": "baf1f6c3-c433-4e86-b3f6-11a0d1b7e28f",
      "name": "Tech News"
    },
    {
      "parameters": {
        "url": "https://www.globalrailwayreview.com/news/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        288,
        96
      ],
      "id": "d7d49589-06a3-4bc6-ad81-6e384ff53fe9",
      "name": "Railway Signalling News"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "764489596757035",
        "recipientPhoneNumber": "85294103693",
        "textBody": "={{ $json.data[0].title }}{{ $json.data[0].creator }}{{ $json.data[0].pubDate }}\n\n{{ $json.data[0].Summary }}\n\n{{ $json.data[0].link }}\n\n==================================\n\n{{ $json.data[1].title }}{{ $json.data[1].creator }}{{ $json.data[1].pubDate }}\n\n{{ $json.data[1].Summary }}\n\n{{ $json.data[1].link }}\n\n==================================\n\n{{ $json.data[2].title }}{{ $json.data[2].creator }}{{ $json.data[2].pubDate }}\n\n{{ $json.data[2].Summary }}\n\n{{ $json.data[2].link }}\n\n==================================",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1536,
        192
      ],
      "id": "a4a8362e-a578-42b7-916d-a672e60d9187",
      "name": "Send message",
      "webhookId": "4cdf39bb-400a-4bcd-b393-e17c4a0f3446",
      "credentials": {
        "whatsAppApi": {
          "id": "XSckQxaNRvSjJPbb",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        816,
        320
      ],
      "id": "2283168d-3a55-46c0-9ed9-67e3338d100e",
      "name": "llama3.2:1b",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Railway Signalling News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech News": {
      "main": [
        []
      ]
    },
    "Railway Signalling News": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llama3.2:1b": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Hong_Kong",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4a9a88a6-04b1-47bd-bb1c-8f300a39bebe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "sdS5tiffZY4V31m9",
  "tags": []
}